services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app
    volumes:
      - ./data:/app/data  # монтируем данные
      - ./preprocessing_artifacts:/app/preprocessing_artifacts
      - ./models_corrected_final:/app/models_corrected_final
    command: uvicorn web_app:app --host 0.0.0.0 --port 8000